body {
  background: yellowgreen;
}

.test {
  width: 100px;
  height: 100px;
  background: blue;
}

.test2 {
  width: 100px;
  height: 100px;
  background: blue;
}

.test3 {
  width: 100px;
  height: 100px;
  background: blue;
}

.test4 {
  width: 100px;
  height: 100px;
  background: blue;
}